<div class="row">
  <div class="col-xs-12">
    <div class="text-center">
      <h3>Add Device</h3>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <form id="adddeviceform" name="adddeviceform">
      <div class="form-group">
        <label for="ipAddress">IP Address</label>
        <input type="text" class="form-control" id="ipAddress" name="ipAddress" placeholder="IP Address">
      </div>
      
      <button type="submit" class="btn btn-primary">Submit</button>
      <a class="btn btn-default" href="/config/#devices" role="button">Cancel</a>
    </form>
  </div>
</div>