<div class="row">
  <div class="col-xs-12">
    <div class="text-center">
      <h3>Available Lineups</h3>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <form id="devicelineupform" name="devicelineupform" role="form">
    <div class="table-responsive">          
      <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Description</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {{#each lineups}}
          <tr>
            <td>{{id}}</td>
            <td>{{description}}</td>
            <td>
              <div class="radio">
                <label>
                  <input type="radio" name="lineupId" value="{{id}}">
                </label>
              </div>
            </td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
    
    <input type="hidden" id="id" name="id" value="{{id}}">
    <button type="submit" class="btn btn-primary">Save</button>
    <a class="btn btn-default" href="/config/#devices" role="button">Cancel</a>
    </form>
  </div>
</div>