<div class="row">
  <div class="col-xs-12">
  <form id="pinform" name="pinform">

    <input type="hidden" id="profileTitle" name="profileTitle" value="{{profileTitle}}">

    <div class="form-group">
      <label for="pin">Please enter your pin</label>
      <input type="password" class="form-control" id="pin" name="pin" placeholder="Pin">
    </div>
      
    <button type="submit" class="btn btn-primary">Submit</button>
    <a class="btn btn-default" href="/#" role="button">Cancel</a>
  </form>
</div>