<div class="row">
  <div class="col-xs-12">
    <div class="text-center">
      <h3>Profile Title</h3>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <form id="profiletitleform" name="profiletitleform">
      <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" id="title" name="title" placeholder="Title">
      </div>
      
      <button type="submit" class="btn btn-primary">Save</button>
      <a class="btn btn-default" href="/config/#profiles" role="button">Cancel</a>
    </form>
  </div>
</div>