<div class="row center-block text-center ">
  {{#each profiles}}
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 center-block text-center vcenter">
      <a href="/#profile/{{title}}"><img width="240" height="240" src="{{hdPosterUri}}"></a></br><h4>{{title}}</h4>
    </div>
  {{/each}}
</div>