<div class="row">
  <div class="col-xs-12">
    <div class="text-center">
      <h3>Profile Permissions</h3>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <form id="profilepermissionsform" name="profilepermissionsform">
      
      <input type="hidden" id="title" name="title" value="{{title}}">
      
      <div class="checkbox">
        <label>
          <input type="checkbox" id="deletePermission" name="deletePermission" {{#contains 'DELETE' permissions}}checked{{/contains}}> Can Delete Content
        </label>
      </div>
      <button type="submit" class="btn btn-primary">Save</button>
      <a class="btn btn-default" href="/config/#profiles" role="button">Cancel</a>
    </form>
  </div>
</div>